.icon {
  border: 1px solid black;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  position: relative;
  &:after {
    position: absolute;
    width: 100%;
    left: 0;
    color: black;
    content: 'i';
    text-align: center;
  }
}

.closeIcon {
  &:after {
    content: 'х';
  }
}